.categories-container {
    padding: 24px;
    max-width: 1200px;
    margin: 50px auto;
}

.categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.categories-title {
    font-size: 32px;
    font-weight: 600;
    font-family:'Trebuchet MS';
    margin: 0 0 24px 0;
}

.view-all {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
}

.view-all:hover {
    text-decoration: underline;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 24px;
    justify-items: center;
}

.category-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.category-item:hover {
    transform: translateY(-5px);
}

.category-image-wrapper {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--background-color);
}

.category-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.category-item:hover .category-image {
    transform: scale(1.1)
}

.category-name {
    font-size: 16px;
    font-weight: 900;
    text-align: center;
}

@media (max-width: 768px) {
    .categories-grid {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 16px;
    }
  
    .category-image-wrapper {
      width: 120px;
      height: 120px;
    }
  
    .category-name {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .categories-grid {
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;
    }
  
    .category-image-wrapper {
      width: 100px;
      height: 100px;
    }
  }