
:root {
    --primary-color: #ff5800;
    --secondary-color: #007fff;
    --dark-secondary-color: #1557b0;
    --tertiary-color: #001f64;
    --hover-color: #1e90ff;
    --active-color: #60afff;
    --background-color: #f5f5f5;
    --sec-background-color: #9b9b9b; /* Light gray for backgrounds */
    --active-bg-color: #e6f0ff; /* Light blue for active states */
    --text-color: #9b9b9b; /* Neutral text color */
    --dark-text-color: #4e4e4e; /* Neutral text color */
    --hover-text-color: #f5f5f5;
    --border-color: #9b9b9b;
    --transition-duration: 0.3s;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
  }
  